[Unit]
Description=aria2

[Service]
Type=simple
User=yuhuang
ExecStart=$bin/aria2c --conf-path=$pkgshare/aria2.conf --input-file=$pkgshare/aria2.session --save-session=$pkgshare/aria2.session
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=aria2.service
